<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usama Awan</title>
    <!-- navbar css -->
    <link rel="stylesheet" href="./css/navbar.css" />
    <!-- navbar css end -->
    <!-- css start -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- css end -->
  </head>
  <body>
    <!-- ********************************** header icon start ********************************  -->
    <div class="site-content">
      <header class="topbar">
        <div class="container containers">
          <div class="icons">
            <a href="#"><img src="./icons/facebook.svg" alt="" /></a>
            <a href="#"><img src="./icons/instagram.svg" alt="" /></a>
            <a href="#"><img src="./icons/twitter.svg" alt="" /></a>
          </div>
          <div class="auth">
            <div>
              <img src="./icons/phone.svg" alt="" />
              <a href="#">03366995013</a>
            </div>
          </div>
        </div>
      </header>
    </div>
    <!-- ********************************** header icon end ********************************  -->

    <!-- ********************************** navbar start ********************************  -->
    <div id="header">
      <nav>
        <div class="containers nav-wrapper">
          <div class="brand">
            <a href="/"
              ><span><strong>USAMA</strong> AWAN</span></a
            >
          </div>
          <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <ul class="nav-list">
            <li><a href="#">Home</a></li>
            <li><a href="#portfolio">PORTFOLIO</a></li>
            <li><a href="#about">ABOUT US </a></li>
            <li><a href="/usamacontact">Contact</a></li>
            <li>
              <select id="themeSwitcher">
                <option value="">Select a theme</option>
                <option value="theme-light">Mix</option>
                <option value="theme-dark">Dark</option>
                <option value="theme-ocean">Ocean</option>
                <option value="theme-sepia">Sepia</option>
              </select>
            </li>
            <li>
              <a href="/logout" class="btn">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- ********************************** navbar end ********************************  -->

    <!-- /* ********************************** welcome start ******************************** */ -->
    <div id="main">
      <div class="icon">
        <a href="#" class="facebook">
          click here
          <img src="./icons/facebook.svg" alt="" />
        </a>
        <a href="#" class="instagram">
          click here
          <img src="./icons/instagram.svg" alt="" />
        </a>
        <a href="#" class="twiter">
          click here
          <img src="./icons/twitter.svg" alt="" />
        </a>
      </div>
      <div class="welcome center">
        <h4>WELCOME TO</h4>
        <h1><span>CREATI</span>VITY</h1>
        <h3>DESIGN, IDEA, CREATIVITY</h3>
        <a href="#portfolio"><button class="button">Portfilow</button></a>
      </div>
    </div>

    <!-- /* ********************************** welcome end ******************************** */ -->

    <!-- /* ********************************** portfolio start ******************************** */ -->

    <div id="portfolio">
      <h1>Portfolio</h1>
      <div id="card_wraper" class="center">
        <div class="card">
          <img src="./images/1.png" alt="" />
        </div>
        <div class="card">
          <img src="./images/2.png" alt="" />
        </div>
        <div class="card">
          <img src="./images/3.jpg" alt="" />
        </div>
        <div class="card">
          <img src="./images/4.png" alt="" />
        </div>
        <div class="card">
          <img src="./images/6.png" alt="" />
        </div>
        <div class="card">
          <img src="./images/7.jpg" alt="" />
        </div>
        <div class="card">
          <img src="./images/8.png" alt="" />
        </div>
        <div class="card">
          <img src="./images/9.png" alt="" />
        </div>
      </div>
    </div>

    <!-- /* ********************************** portfolio end ******************************** */ -->
    <hr />
    <!-- /* ********************************** about start ******************************** */ -->
    <div id="about">
      <h2>ABOUT US</h2>
      <div id="about_section" class="center">
        <div class="left_image">
          <img src="./images/section.png" alt="" />
        </div>

        <div class="about_content">
          <span><strong>USAMA</strong> AWAN</span>
          <p>
            My name is usama awan and by profession I am a Graphic Designer,
            Video Editor and Photographer. I'm here to provide you my best ideas
            and 3-years of experience in graphic design for brand idengtity or
            printing & web graphics as well. Please feel free to review my
            portfolio to see some samples of my work so that you may form an
            opinion in relation to my ability and creativity.
          </p>
        </div>
      </div>
    </div>
    <!-- /* ********************************** about end ******************************** */ -->

    <footer>
      <p>
        © Copyright Usama Awan. All Rights Reserved Develope by Dilawar khan
      </p>
    </footer>
  </body>
</html>

<!-- ********************************** navbar JS start ********************************  -->
<script src="./js/app.js"></script>

<!-- ********************************** navbar JS end ********************************  -->

<!-- create by dilawar khan 10/6/2021 -->
